.Dock {
    display: flex;
    gap: 15px;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);

    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: rgba(67, 65, 65, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
        width: 3.75rem;
        height: 3.75rem;
        padding: 0.63rem;
        aspect-ratio: 1/1;

        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    }

    .icon:hover {
        transform: scale(1.25) translateY(-20px);
    }

    .icon:hover+.icon,
    .icon:has(+.icon:hover) {
        transform: scale(1.1) translateY(-10px);
    }


    .github,
    .cli {
        background: #000;
    }

    .note {
        background: linear-gradient(to bottom, rgb(245, 177, 88), rgb(222, 135, 21));
    }

    .pdf {
        background: linear-gradient(to bottom, #fa4e70, #d40c34);
    }

    .calender,
    .mail,
    .linkedin {
        background: linear-gradient(to bottom, #6959f9, #270cd4);
    }

    .spotify {
        background: linear-gradient(to bottom, #30c72d, #157614);
    }

    .link {
        background: linear-gradient(to bottom, #af4aee, #710caf);
    }


}